

/* eserxizio 1 */
.ex-1-square {
    transition: all 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */
.ex-2-square {
    transition: all 2s;
}
.ex-2-square:active {
    width: 100%;
    
}

/* esercizio 3 */

.ex-3-square {
    transition: all 1s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

/* esercizio 4 */

.ex-4-square {
    transition: all 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* esercizio 5 */
.ex-5-square {
    transition: all 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* esercizio 7 */
.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: sepia(0.8) grayscale(0.1);
}

/* esercizio 8 */
.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: sepia(0.6) grayscale(0.2);
}

/* esercizio 9 */
.ex-9-img {
    transition: all 3s;
}

.ex-9-img:hover {
    transform: scale(1.5);
    filter: sepia(0.6) grayscale(0.2);
    border-radius: 20px;
}

/* esercizio 10 */
.ex-10-icon {
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(360deg);
    }
}

/* esercizio 11 */

.ex-11-icon:hover {
    animation: small-rotation 3s linear;
}

@keyframes small-rotation {
    0% {
        transform: rotate(0);
    }
    55% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(320deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* esercizio 12 */

.ex-12-button:hover {
    
}